.filter {
  transform: translateY(-36px);
  position: absolute;
  margin: 0 auto;
  padding: 0 25px;
  left: 0;
  right: 0;
  width: $container-width;
  max-width: 100%;
  @media (max-width: $breakpoint-mobile) {
    position: static;
  }
  &__bar {
    overflow: hidden;
    height: 0;
    opacity: 0;
    // transition: 0.3s;

    background: #fff;
    border-radius: 6px;
    box-shadow: $shadow;
    margin: 0 auto;
  }
  &__bar-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 45px;
    @media (max-width: $breakpoint-mobile) {
      padding: 15px 18px;
    }
    // height: 70px;
  }
  &--active {
    .filter__bar {
      height: auto;
      // height: 70px;
      opacity: 1;
    }
    @media (max-width: $breakpoint-mobile) {
      margin-bottom: -42px;
    }
  }

  &__tags {
    display: flex;
    flex-wrap: wrap;
  }
  &__tag {
    background-color: $gray-filter;
    color: $primary;
    border-radius: 4px;
    font-weight: $font-weight-bold;
    margin: 9px 15px 9px 0;
    transition: 0.2s;
    overflow: hidden;

    display: flex;
    align-items: center;
  }
  &__tag-name {
    padding: 0 8px;
  }
  &__tag-remove {
    background-color: $primary;
    border: none;
    color: #fff;
    padding: 4px;
    transition: 0.2s;
    img {
      display: block;
      width: 25px;
      @media (max-width: $breakpoint-mobile) {
        width: 22px;
      }
    }
    &:hover {
      cursor: pointer;
      background-color: $gray-dark-cyan;
    }
  }
  &__clear {
    color: $gray-cyan;
    font-weight: $font-weight-bold;
    font-size: $font-size-body;
    font-family: inherit;
    border: none;
    background: none;
    padding: 10px;
    @media (max-width: $breakpoint-mobile) {
      padding: 15px 5px;
    }
    &:hover {
      color: $primary;
      text-decoration: underline;
      cursor: pointer;
    }
  }
}
