.jobs {
  width: $container-width;
  max-width: 100%;
  margin: 75px auto 0 auto;
  padding: 0 25px;
}

.job-listing {
  display: flex;

  position: relative;
  align-items: center;
  background-color: $white;
  padding: 29px 30px;
  margin-bottom: 24px;
  border-left: 4px solid transparent;
  border-radius: 4px;
  box-shadow: $shadow;
  @media (max-width: $breakpoint-mobile) {
    flex-wrap: wrap;
    padding: 45px 25px 20px 20px;
    margin-bottom: 50px;
  }
  &--featured {
    border-left-color: $primary;
  }
  &__company {
    color: $primary;
    font-weight: $font-weight-bold;
    margin-bottom: 16px;
    display: flex;
    align-items: center;
  }

  &__highlight {
    padding: 6px 8px;
    border-radius: 15px;
    text-transform: uppercase;
    font-size: 12px;
    span {
      position: relative;
      top: 2px;
    }
    &--new {
      background: $primary;
      color: $white;
      margin-left: 16px;
    }
    &--featured {
      background: $gray-dark-cyan;
      color: $white;
      margin-left: 10px;
    }
  }
  &__title {
    font-weight: $font-weight-bold;
    color: $gray-dark-cyan;
    margin-bottom: 10px;
    font-size: 18px;
    transition: 0.2s;
    &:hover {
      color: $primary;
      cursor: pointer;
    }
  }
  &__logo {
    padding-right: 25px;
    img {
      height: 88px;
      width: 88px;
    }
    @media (max-width: $breakpoint-mobile) {
      position: absolute;
      top: -30px;
      img {
        height: 60px;
        width: 60px;
      }
    }
  }
  &__details {
    flex-basis: 300px;
    flex-shrink: 0;
    @media (max-width: $breakpoint-mobile) {
      flex-basis: 100%;
    }
  }
  &__tags {
    margin-left: auto;
    padding-left: 40px;
    display: flex;
    flex-wrap: wrap;
    @media (max-width: $breakpoint-mobile) {
      margin-left: 0;
      padding: 10px 0 0 0;
      margin: 10px 0 0 0;
      border-top: 1px solid $gray-cyan;
    }
  }
  &__tag {
    padding: 7px 10px;
    background-color: $gray-filter;
    color: $primary;
    border-radius: 4px;
    font-weight: $font-weight-bold;
    margin: 5px 15px 5px 0;
    transition: 0.2s;

    border: none;
    font-family: inherit;
    font-size: $font-size-body;
    @media (max-width: $breakpoint-mobile) {
      margin: 9px 15px 8px 0;
    }
    &:last-child {
      margin-right: 0;
    }
    &:hover {
      cursor: pointer;
      background-color: $primary;
      color: $gray-filter;
    }
  }
  &__meta-item {
    display: inline-block;
    color: $gray-cyan;
    padding-right: 10px;
    &::after {
      content: "•";
      padding-left: 10px;
    }
    &:last-child {
      &::after {
        content: none;
      }
    }
  }
}
