$white: #fff;
$primary: hsl(180, 29%, 50%);
$gray-bg: hsl(180, 52%, 96%);
$gray-filter: hsl(180, 31%, 95%);
$gray-cyan: hsl(180, 8%, 52%);
$gray-dark-cyan: hsl(180, 14%, 20%);

$font: "Spartan", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
  "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue";

$font-weight-bold: 700;

$container-width: 1200px;

$shadow: 4px 4px 20px transparentize($gray-cyan, 0.7);

body {
  background-color: $gray-bg;
  font-family: $font;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}

.header {
  height: 150px;
  background-color: $primary;
  background-image: url("../assets//ui/bg-header-desktop.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

@import "components/jobs";
@import "components/filter";
